# Pandas Problem Set

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [4]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [18]:
data = pd.read_csv(url, names=names)
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

Print out the age and class of the 100th patient

In [19]:
print(data.iloc[100,-2:])

age      33.0
class     1.0
Name: 100, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 0

In [35]:
data_class_boolean = data.iloc[:,-1] == 0
filtered_dataframe_by_class_0 = data[data_class_boolean]
len(filtered_dataframe_by_class_0)

500

Write code to figure out how many people are classified as having diabetes, class is 1

In [47]:
data_class_boolean = data.iloc[:,-1] == 1
filtered_dataframe_by_class_1 = data[data_class_boolean]
len(filtered_dataframe_by_class_1)

268

What percent of people have diabetes in the study

In [39]:
len(filtered_dataframe_by_class_1)/len(data)

0.3489583333333333

Print out the pressure and class (no other columns) for the first 5 people (hint: this was not shown in our tutorial google how to select multiple columns with loc)

Being able to effectively google is a very important coding tool Â¯\\\_(ãƒ„)_/Â¯

In [41]:
data.iloc[0:5,[2,-1]]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [42]:
data.corr()

           preg      plas      pres  ...      pedi       age     class
preg   1.000000  0.129459  0.141282  ... -0.033523  0.544341  0.221898
plas   0.129459  1.000000  0.152590  ...  0.137337  0.263514  0.466581
pres   0.141282  0.152590  1.000000  ...  0.041265  0.239528  0.065068
skin  -0.081672  0.057328  0.207371  ...  0.183928 -0.113970  0.074752
test  -0.073535  0.331357  0.088933  ...  0.185071 -0.042163  0.130548
mass   0.017683  0.221071  0.281805  ...  0.140647  0.036242  0.292695
pedi  -0.033523  0.137337  0.041265  ...  1.000000  0.033561  0.173844
age    0.544341  0.263514  0.239528  ...  0.033561  1.000000  0.238356
class  0.221898  0.466581  0.065068  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

What column has the highest correlation with class? Find the mean() value of that column

In [45]:
data['plas'].mean()

120.89453125

Create a new dataframe with only people that are above the mean found above

In [51]:
data_class_boolean = data.iloc[:,1] > data['plas'].mean()
filtered_dataframe_by_plas = data[data_class_boolean]
filtered_dataframe_by_plas

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
2       8   183    64     0     0  23.3  0.672   32      1
4       0   137    40    35   168  43.1  2.288   33      1
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
759     6   190    92     0     0  35.5  0.278   66      1
761     9   170    74    31     0  44.0  0.403   43      1
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1

[349 rows x 9 columns]

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [59]:
filtered_dataframe = data
for i in range(0,len(data.columns)-1):
  data_class_boolean = filtered_dataframe.iloc[:,i] > filtered_dataframe[names[i]].mean()
  filtered_dataframe = filtered_dataframe[data_class_boolean]
filtered_dataframe

     preg  plas  pres  skin  test  mass   pedi  age  class
43      9   171   110    24   240  45.4  0.721   54      1
375    12   140    82    43   325  39.2  0.528   58      1
458    10   148    84    48   237  37.6  1.001   51      1

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [63]:
data.reset_index(drop=True).sort_values(by='skin', ascending=True, na_position='first').sort_values(by='test', ascending=True, na_position='first').sort_values(by='pedi', ascending=True, na_position='first')

     preg  plas  pres  skin  test  mass   pedi  age  class
268     0   102    52     0     0  25.1  0.078   21      0
180     6    87    80     0     0  23.2  0.084   32      0
149     2    90    70    17     0  27.3  0.085   22      0
567     6    92    62    32   126  32.0  0.085   46      0
598     1   173    74     0     0  36.8  0.088   38      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
45      0   180    66    39     0  42.0  1.893   25      1
370     3   173    82    48   465  38.4  2.137   25      1
4       0   137    40    35   168  43.1  2.288   33      1
228     4   197    70    39   744  36.7  2.329   31      0
445     0   180    78    63    14  59.4  2.420   25      1

[768 rows x 9 columns]

Notice that there are some repeats in values (like in the age and the preg column).

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!

In [67]:
print(data.sort_values(by='age', ascending=False, na_position='first').iloc[:4,-2])
print('\n')
print(data.sort_values(by='mass', ascending=False, na_position='first').iloc[:4,-4])

459    81
453    72
666    70
123    69
Name: age, dtype: int64


177    67.1
445    59.4
673    57.3
125    55.0
Name: mass, dtype: float64

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [73]:
print(data[data.iloc[:,1] > 0].sort_values(by='plas', ascending=True, na_position='first').iloc[:4,1][::-1])
print('\n')
print(data.sort_values(by='preg', ascending=True, na_position='first').iloc[:4,0][::-1])

146    57
537    57
680    56
62     44
Name: plas, dtype: int64


449    0
452    0
109    0
467    0
Name: preg, dtype: int64